<div class="page-container">
  <h2>Enroll in Event</h2>
  <form (ngSubmit)="enroll()">
    <div class="form-group">
      <label for="participantId">Participant ID:</label>
      <input [(ngModel)]="participantId" name="participantId" type="number" placeholder="Enter Participant ID" required />
    </div>

    <div class="form-group">
      <label for="eventId">Event ID:</label>
      <input [(ngModel)]="eventId" name="eventId" type="number" placeholder="Enter Event ID" required />
    </div>

    <button type="submit">Enroll</button>
  </form>

  <!-- <p class="message" [ngClass]="{ 'success': isSuccess, 'error': !isSuccess }">{{ message }}</p> Display success or error message -->
</div>
